.about {
	display: flex;
	margin: 80px;
	justify-content: space-between;
}

.audun {
	width: 533px;
	object-fit: contain;
	border-radius: 20px;
}

.people-img {
	border-radius: 20px;
	margin-right: 40px;
}

main {
	margin-top: 100px;
	margin-left: 20px;
}

h2 {
	margin-bottom: 10px;
}

h3 {
	margin-bottom: 15px;
}
